pipeline/PipelineFullName.json
{
	"name": "PipelineFullName",
	"properties": {
		"activities": [
			{
				"name": "Data flow",
				"type": "ExecuteDataFlow",
				"state": "Inactive",
				"onInactiveMarkAs": "Succeeded",
				"dependsOn": [
					{
						"activity": "Set Output FileName",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataflow": {
						"referenceName": "DataFlowFullName",
						"type": "DataFlowReference",
						"parameters": {
							"outputFileName": {
								"value": "'@{variables('outputFileName')}'",
								"type": "Expression"
							}
						},
						"datasetParameters": {
							"Source": {
								"containerName": {
									"value": "@pipeline().parameters.triggeringFolder",
									"type": "Expression"
								},
								"fileName": {
									"value": "@pipeline().parameters.triggeringFile",
									"type": "Expression"
								}
							},
							"Sink": {
								"containerName": "silver",
								"fileName": "personal_data_full_name.parquet"
							}
						}
					},
					"compute": {
						"coreCount": 8,
						"computeType": "General"
					},
					"traceLevel": "Fine"
				}
			},
			{
				"name": "Set Output FileName",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "outputFileName",
					"value": "personal_data_full_name.parquet"
				}
			}
		],
		"parameters": {
			"triggeringFile": {
				"type": "string"
			},
			"triggeringFolder": {
				"type": "string"
			}
		},
		"variables": {
			"fileName": {
				"type": "String"
			},
			"outputFileName": {
				"type": "String"
			}
		},
		"annotations": []
	}
}