pipeline/SuccessFailPipeline.json
{
	"name": "SuccessFailPipeline",
	"properties": {
		"activities": [
			{
				"name": "Set Division Result",
				"type": "SetVariable",
				"dependsOn": [],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "divisionResult",
					"value": {
						"value": "@div(pipeline().parameters.dividendNumber, pipeline().parameters.dividingNumber)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get One Piece characters",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Division Result",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://api.api-onepiece.com/v2/characters/en"
				}
			},
			{
				"name": "Set One Piece characters",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get One Piece characters",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "onePieceCharacters",
					"value": {
						"value": "@activity('Get One Piece characters').output.response",
						"type": "Expression"
					}
				}
			},
			{
				"name": "Get Malaga weather",
				"type": "WebActivity",
				"dependsOn": [
					{
						"activity": "Set Division Result",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"method": "GET",
					"url": "https://api.open-meteo.com/v1/forecast?latitude=36.72016&longitude=-4.42034&current=temperature_2m,relative_humidity_2m,rain,weather_code"
				}
			},
			{
				"name": "Set Malaga weather",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "Get Malaga weather",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"variableName": "malagaWeather",
					"value": {
						"value": "@string(activity('Get Malaga weather').output)",
						"type": "Expression"
					}
				}
			}
		],
		"parameters": {
			"dividendNumber": {
				"type": "int"
			},
			"dividingNumber": {
				"type": "int"
			}
		},
		"variables": {
			"divisionResult": {
				"type": "Integer"
			},
			"onePieceCharacters": {
				"type": "String"
			},
			"malagaWeather": {
				"type": "String"
			}
		},
		"annotations": []
	}
}